<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:cellspacing="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>bootsrap</title>
    <link rel="stylesheet"  href="../../css/style.css" >
    <!--<link rel="stylesheet" href="../../plugs/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <style type="text/css">
        .u-pages li{float: left;padding: 10px}
    </style>



</head>
<body style="background:#edf6fa;">

<!--总容器-->
<div>


<!--位置-->
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="person.html">随访计划配置</a></li>
    </ul>
</div>

<div id="exam" >

    <div style="float: left;width: 20%">
    <!--按钮模块-->
    <div class="left btn-group">

        <!--模糊查询框-->
        <div class="right btn-group" style="padding-left: 10px;padding-top: 10px;padding-bottom: 10px">

            <input type="text"  placeholder="搜索" class="form-control" style="height: 25px;width: 150px"  id="queryLike" >
        </div>
        <!--模糊查询按钮-->
        <div style="float: left ;padding-left: 10px; padding-top: 15px">
            <button style="background-color:#edf6fa;"  v-on:click="inqire_person()" >
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

        </div>

    </div>

    <!--表格模块-->

    <table class="table table-bordered table-hover table-responsive " >
        <tr><td>编号</td>
            <td>科室</td>

        </tr>
        <tr v-for="p in person"  >
            <td ><a>{{p.id}}</a></td>
            <td ><a v-on:click="office_val(p.office_name)">{{p.office_name}}</a></td>
    </table>
    </div>

    <div style="float: left;width: 75%;padding-left: 3%;padding-top: 5%">
        <table class="table table-bordered table-hover table-responsive " >
            <tr>
                <td>科室</td>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>手机号码</td>
                <td>疾病名称</td>
                <td>床位号</td>
                <td>责任医生</td>
                <td>出院日期</td>
                <td>配置状态</td>
                <td>操作</td>
            </tr>
            <tr v-for="p in personOutManage"  >
                <td >{{p.office_name}}</td>
                <td >{{p.personOutManage.name}}</td>
                <td >{{p.personOutManage.sex}}</td>
                <td >{{p.personOutManage.age}}</td>
                <td >{{p.personOutManage.mobile}}</td>
                <td >{{p.personOutManage.jbname}}</td>
                <td >{{p.personOutManage.bednum}}</td>
                <td >{{p.personOutManage.principal}}</td>
                <td >{{p.personOutManage.date}}</td>
                <td >{{p.personOutManage.configured}}</td>
                <td><button style="width:50px ;height:25px ;font-size: 10px"  v-on:click="queryById_stu(p.id)" type="button"  data-toggle="modal" data-target="#student" >修改</button> &nbsp;&nbsp;  <button style="width:50px ;height:25px ;font-size: 10px"  v-on:click="del_(p.id)" data-toggle="modal"  data-target="#myConfirm" type="button">删除</button></td>
            </tr>

        </table>
    </div>


</div>





</div>

<script src="../../plugs/jquery/jquery.min.js"></script>
<!--<script src="../../plugs/bootstrap/js/bootstrap.min.js"></script>-->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../plugs/js/vue.min.js"></script>

<script>

    // <!--科室js-->
    var app_exam=new Vue({
        el:'#exam',
        data:{person:{},
            del_person_id:'',
            url_action:'',
            personOutManage:{},
            off_name:'儿科',
        },
        methods:{
            //查询所有
            inqire_person:function () {
                var _this=this;
                //是否模糊查询
                var queryLike_value =  $('#queryLike').val();
                if(queryLike_value==''){
                    _this.url_action='/getAllOffice.action'
                }
                else {
                    _this.url_action='/queryLikeTb_fu_office.action?office_name='+queryLike_value;
                    $('#page').hide();
                }
                $.ajax({
                    url:_this.url_action,
                    type:'post',
                    dataType:'json',
                    success:function (data) {
                        _this.person=data;

                    }
                })

            },
            inqire_person_2:function () {
                var _this=this;
                $.ajax({
                    url:'/getOffPer.action?office_name='+_this.off_name,
                    type:'post',
                    dataType:'json',
                    success:function (data) {
                        _this.personOutManage=data;
                    }
                })


            },
            office_val:function(name){
                var _this=this;
                _this.off_name=name;
                _this.inqire_person_2();

            }


        }
    });

    app_exam.inqire_person();
    app_exam.inqire_person_2();







</script>

</body>
</html>