<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.dao.tb_fu_officeMapper" >
  <resultMap id="BaseResultMap" type="com.zking.entity.tb_fu_office" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="office_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, office_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_fu_office
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_fu_office
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.entity.tb_fu_office" >
    insert into tb_fu_office (ID, office_name)
    values (#{id,jdbcType=INTEGER}, #{officeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.entity.tb_fu_office" >
    insert into tb_fu_office
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="officeName != null" >
        office_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="officeName != null" >
        #{officeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.entity.tb_fu_office" >
    update tb_fu_office
    <set >
      <if test="officeName != null" >
        office_name = #{officeName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey"  parameterType="com.zking.entity.tb_fu_office" >
    update tb_fu_office
    set office_name = #{officeName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryLikeTb_fu_office" parameterType="int" resultType="com.zking.entity.tb_fu_office" >
  select <include refid="Base_Column_List"/> from tb_fu_office
  <where>
  ID  like "%"#{office_name}"%" or  office_name like "%"#{office_name}"%"
  </where>
  </select>

  <select id="pageQueryTb_fu_office" resultType="com.zking.entity.tb_fu_office">
  select * from tb_fu_office limit #{begin},5
  </select>


  <select id="queryAllByIdOffice" parameterType="int" resultType="com.zking.entity.tb_fu_office">
  select * from  tb_fu_office where  id=#{id}
  </select>

  <select id="getCountOffice" parameterType="int" resultType="com.zking.entity.tb_fu_office">
  select count(*) count  from tb_fu_office
  </select>


  <select id="getAllOffice" parameterType="int" resultType="com.zking.entity.tb_fu_office">
  select * from tb_fu_office
  </select>


  <!--&lt;!&ndash;链表查询一对一&ndash;&gt;-->
  <resultMap type="com.zking.entity.tb_fu_office" id="tb_fu_officetMap">
  <id property="id" column="off_id" />
  <result property="office_name" column="office_name" />
  <association property="personOutManage"  javaType="com.zking.entity.personOutManage">
  <id property="id" column="id" />
  <result property="door" column="door" />
  <result property="sex" column="sex" />
  <result property="age" column="age" />
  <result property="mobile" column="mobile" />
  <result property="jbname" column="jbname" />
  <result property="bednum" column="bednum" />
  <result property="date" column="date" />
  <result property="configured" column="configured" />
  </association>
  </resultMap>
  <select id="getOffPer" parameterType="String" resultMap="tb_fu_officetMap">
  select o.office_name,p.name,p.sex,p.age,p.mobile,p.jbname,p.bednum,p.date,p.principal,p.configured  from tb_fu_office o, personoutmanage p where o.office_name=p.door and o.office_name=#{office_name}
  </select>
</mapper>