<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:cellspacing="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>bootsrap</title>
    <link rel="stylesheet"  href="../../css/style.css" >
    <!--<link rel="stylesheet" href="../../plugs/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <style type="text/css">
        .u-pages li{float: left;padding: 10px}
    </style>



</head>
<body style="background:#edf6fa;">
	
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="person.html">患者基础数据</a></li>
    </ul>
   </div>   

	
<div id="exam" >
    <!--按钮模块-->
    <div class="left btn-group">
        <!--增加按钮-->
        <div class="right btn-group" style="padding-top: 10px;padding-bottom: 10px">
        <button type="button"  data-toggle="modal" v-on:click="conversion_stu()" data-target="#student"  style="width:50px ;height:25px ;font-size: 10px ;">增加</button>
        </div>
   <!--模糊查询框-->
        <div class="right btn-group" style="padding-left: 100px;padding-top: 10px;padding-bottom: 10px">

                <input type="text"  placeholder="搜索" class="form-control" style="height: 25px" name="patient_name" id="queryLike" >
        </div>
        <!--模糊查询按钮-->
        <div style="float: left ;padding-left: 10px; padding-top: 15px">
            <button style="background-color:#edf6fa;"  v-on:click="inqire_person()" >
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

        </div>

    </div>

    <!--增加模块-->
    <div id="student" class="modal fade" tabindex="-1" oler="dialog"  labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>{{modal_title}}</h4>
                </div>
                <form id="form2" class="form-horizontal" >
                    <div class="modal-body">

                        <div class="form-group">

                            <input class="hidden" name="id" v-bind:value="person_By.id"  />


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >科室</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  name="office_name" v-bind:value="person_By.office_name"  placeholder="请输入科室号">
                            </div>
                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary"  v-on:click="save_student()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--表格模块-->
    <table class="table table-bordered table-hover table-responsive " >
        <tr><td>编号</td>
            <td>科室号</td>
            <td>操作</td>
        </tr>
        <tr v-for="p in person"  >
            <td >{{p.id}}</td>
            <td >{{p.office_name}}</td>

            <td><button style="width:50px ;height:25px ;font-size: 10px"  v-on:click="queryById_stu(p.id)" type="button"  data-toggle="modal" data-target="#student" >修改</button> &nbsp;&nbsp;  <button style="width:50px ;height:25px ;font-size: 10px"  v-on:click="del_(p.id)" data-toggle="modal"  data-target="#myConfirm" type="button">删除</button></td>
        </tr>
        <tr id="page">
            <td colspan="6">
                <!--分页-->
                <div class="u-pages" style="margin-bottom:30px; margin-top:10px; ">
                    <ul>


                        <li  class="crt"><a v-on:click="beginPage()"> &lt;&lt; </a></li><!--首页-->
                        <li  class="crt"><a v-on:click="SPage()"> &lt; </a></li><!--上一页-->

                        <template v-for="n in totalPage">
                            <li  v-on:click="choose(n)" ><a>{{n}}</a></li>
                        </template>


                        <li  class="crt"><a v-on:click="XPage()"> &gt;</a></li><!--下一页-->
                        <li  class="crt"><a v-on:click="pageLast()"> &gt;&gt; </a></li><!--尾页-->

                    </ul>
                </div>

            </td>
        </tr>
    </table>

    <!--确认删除模块-->
    <div class='modal fade' id='myConfirm' >

        <div class='modal-backdrop in' style='opacity:0; '></div>
        <div class='modal-dialog' style='z-index:2901; margin-top:60px; width:400px; '>
            <div class='modal-content'>
                <div class='modal-header'  style='font-size:16px; '>
                    <span class='glyphicon glyphicon-envelope'>&nbsp;</span>信息！<button type='button' class='close' data-dismiss='modal'></button>
                    &times;</div>
                <div class='modal-body text-center' id='myConfirmContent' style='font-size:18px; '>
                    是否确定要删除？
                </div>
                <div class='modal-footer ' style=''>
                    <button class='btn btn-danger ' id='confirmOk' v-on:click="del_person()" >确定</button>

                    <button class='btn btn-info ' data-dismiss='modal'>取消</button>
                </div></div></div>
    </div>


</div>


    <script src="../../plugs/jquery/jquery.min.js"></script>
<!--<script src="../../plugs/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../plugs/js/vue.min.js"></script>

<script>
    var app_exam=new Vue({
        el:'#exam',
        data:{person:{},
              del_person_id:'',
              modal_title:'增加',
              url_action:'', person_By:'',
              begin:0,
              page:1,
              count:0,
              totalPage:0,
            },
        methods:{
            //查询所有
            inqire_person:function () {
                var _this=this;
                //是否模糊查询
                var queryLike_value =  $('#queryLike').val();
                if(queryLike_value==''){
                    _this.url_action='/pageQueryTb_fu_office.action?begin='+_this.begin
                }
                else {
                    _this.url_action='/queryLikeTb_fu_office.action?office_name='+queryLike_value;
                    $('#page').hide();
                }
                $.ajax({
                    url:_this.url_action,
                    type:'post',
                    dataType:'json',
                    success:function (data) {
                        _this.person=data;

                    }
                })


            },

            //增加的方法
            conversion_stu:function () {
                this.modal_title='增加';
                var _this=this;
                $.ajax({
                    url:'/getMaxIdOffice.action',
                    type:'get',
                    success:function (data) {
                         _this.person_By=data ;
                    }
                });

            },
            //根据id查询(点击修改时)
            queryById_stu:function(id){
                var _this=this;

                this.modal_title='修改';
                $.ajax({
                    type:"get",
                    dataType:'json',
                    data:'id='+id,
                    url:"/queryAllByIdOffice.action",
                    success:function(data){
                        _this.person_By=data;
                    }
                });
            },
            //增加与修改的方法
            save_student:function () {
                var _this=this;
                if(_this.modal_title=="增加"){
                    _this.url_action="/insertOffice.action";
                }
                else if(_this.modal_title=="修改"){
                    _this.url_action="/updateByPrimaryKeyOffice.action";
                }
                var text=$("#form2").serialize();
                $.ajax({
                    url:_this.url_action,
                    type:'get',
                    data:text,
                    success:function () {
                        $("#student").modal('hide');
                        _this.person_By="";
                        _this.inqire_person();
                    }
                });
            },

            //点击删除的方法
            del_:function(id) {
                this.del_person_id=id;

            },
            //确认删除后的方法
            del_person:function(id){
                var _this=this;
                $.ajax({
                    type:"get",
                    url:"/deleteByPrimaryKeyOffice.action",
                    data:'id='+_this.del_person_id,
                    success:function(){
                        $("#myConfirm").modal('hide');
                        _this.inqire_person();
                    }
                });
            },

        //    查询最大数量
            getMaxCount:function(){
                var _this=this;
                $.ajax({
                    type:"get",
                    url:"/getCountOffice.action",
                    success:function(data){
                        _this.count=data;
                        _this.getMaxPage();
                    }
                });
            },


        //    分页首页
            beginPage:function(){
                var _this=this;
                _this.begin=0;
                _this.page=1;
                _this.inqire_person();
            },

            //    分页尾页
            pageLast:function(){
                var _this=this;
                var totalPage=Math.floor(_this.count/5);
                if(_this.count%5!=0){
                    totalPage+=1;
                }
                _this.page=totalPage;

                _this.begin=(_this.page-1)*5;
                _this.inqire_person();

            },

            //    上页
            SPage:function(){
                var _this=this;
                if(_this.page<=1){
                    _this.page=1;
                    alert("已经是第一页");
                }else {
                    this.page-=1;
                    _this.begin=(_this.page-1)*5;
                }
                _this.inqire_person();
            },
            //    下页
            XPage:function(){
                var _this=this;
                var totalPage=Math.floor(_this.count/5)  ;
                if(_this.count%5!=0){
                    totalPage+=1;
                }
                if(_this.page>=totalPage){
                    _this.page=totalPage;
                    alert("已经是最后一页");
                }else {
                    _this.page+=1;
                }
                _this.begin=(_this.page-1)*5;
                 _this.inqire_person();
            },
            //    总分页数
            getMaxPage:function(){
                var _this=this;
                var totalPage=Math.floor(_this.count/5)  ;
                if(_this.count%5!=0){
                    totalPage+=1;
                    _this.totalPage=totalPage;

                }

            },
            choose: function (l) {
               console.log(l);
               var page=l;
               var _this=this;
               _this.page=page;
                _this.begin=(_this.page-1)*5;
                _this.inqire_person();
            }




        }
    });

    app_exam.getMaxCount();
    app_exam.inqire_person();





</script>

</body>
</html>